p, h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.Inputs {
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0px #ffffff;
}

.Error {
    color: red;
    text-align: center;
    text-shadow: 0.5px 0.5px 0px #000000;
}

button {
    width: 150px;
    text-align: center;
    margin:0 auto;
}

input {
    border: 1px solid #000000;
    background-color: rgb(219, 220, 223);
}

body {
    background-image: linear-gradient( #ccebff, #1aa3ff, #008ae6);
    background-repeat: no-repeat;
    height: 1000px;
}